body {
    font-family: Helvetica, ;
    background-color: #a0a8e4af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 50px;
    padding:50px;
    flex-direction: column;
    text-decoration-color: #010d7c;
}
.h2 {
    padding:30px;
}
.form-control{
    margin: 20px, 0px;
    align-items: center;
}
.btn{
    display: flex;
    justify-content: space-around;
    margin: 20px, 20px;
}

